.mw-30 {
    min-width: 30px !important;
}

.mw-50 {
    min-width: 50px !important;
}

.mw-60 {
    min-width: 60px !important;
}

.mw-80 {
    min-width: 80px !important;
}

.mw-120 {
    min-width: 120px !important;
}

.mw-160 {
    min-width: 160px !important;
}

.mw-200 {
    min-width: 200px !important;
}

.mw-250 {
    min-width: 250px !important;
}

.label-value {
    font-weight: normal !important;
}

.dtr-title {
    padding-right: 30px;
}

.is-invalid + .select2-container .select2-selection--single {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.mouse {
    cursor: pointer;

}

.box-relative {
    position: relative;
}

.box-br {
    position: absolute;
    transform: translateX(50%);
    margin-top: -3px;
    right: 15px;
}

.note-btn {
    display: none;
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.width-120 {
    width: 120px;
}

.width-100 {
    width: 100px;
}

.width-160 {
    width: 160px;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
}

.loading-process {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9999;
}

.loading-process .center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-process .center-middle i {
    font-size: 34px;
}

label.label-value {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    vertical-align: bottom;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
    padding: 1em 0;
}

.badge-sidebar {
    font-size: 50% !important;
    top: -5px;
    right: -10px;
}

.input-group-text label {
    margin: 0;
}

.multi-remove {
    z-index: 9999;
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
}

.image-arrow{
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999; 
    font-size:8vw ; 
    color:rgba(255,255,255,0.5);
    cursor: pointer;
}

.image-arrow.left{
    left:1vw;
}

.image-arrow.right{
    right:1vw;
}

/* css drag-drop */
.upload-zone {
    margin: auto;
    background: radial-gradient(ellipse at center,#17a2b8 0,#007bff 100%);
    width: 100%;
    height: 76%;
    border: 5px dashed white;
    text-align: center;
    color: white;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 .25em 0 rgba(0,0,0,0.25);
}
.upload-zone .btnCompression .active {
    background: #17a2b8;
    color: white;
}
.upload-zone i {
    text-align: center;
    font-size: 10em;
    color: #fff;
    margin-top: 50px;
}
.upload-zone .selectFile {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 200px;
}
.upload-zone label, .upload-zone input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
}
.upload-zone label {
    background: #fff;
    color: #17a2b8;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 1px 1px gray;
}
.upload-zone input[type=file] {
    opacity: 0;
}
.upload-zone.in {
    color: white;
    border-color: white;
    background: radial-gradient(ellipse at center,#17a2b8 0,#007bff  100%);
}
.upload-zone.in i {
    color: #fff;
}
.upload-zone.in label {
    background: #fff;
    color: #17a2b8;
}
.upload-zone.hover {
    color: gray;
    border-color: white;
    background: #fff;
    border: 5px dashed gray;
}
.upload-zone.hover i {
    color: #17a2b8;
}
.upload-zone.hover label {
    background: #fff;
    color: #17a2b8;
}
.upload-zone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    .chart-wrapper {
        margin-bottom: 20px;
    }
}